body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);

    z-index: 100;
}
.home {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #2b3d4f;
}
#layer2{
    position: absolute;
    width: 100%;
    height: 100%;
}
#layer4{
    position: absolute;
    width: 100%;
    height: 100%;
}
.rectangleHome{
    width: 63%;
    height: auto;
    max-height: 30%;
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
.arrow_right{
    width: 1%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 97%;
}
.arrow_left{
    width: 1%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 2%;

}
.good_ideas{
    font-size: 60px;
    line-height: 58px;
    color: rgb(116,199,213);
    font-family: 'Lato', sans-serif;
    text-align: left;
    transform: translate(5%, 5%);
}
.comes{
    font-size: 60px;
    line-height: 58px;
    color: rgb(116,199,213);
    font-family: 'Lato', sans-serif;
    text-align: end;
    transform: translate(-56%, -50%);
}
/*.rectangleHome{
    width: 63%;
    /* height: 24%;
    height: auto;
    border-radius: 4px;
    background-image: url("../../projet_davidcohen/img/RoundedRectangle.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
.first{
    font-size: 121px;
    line-height: 129px;
    color: rgb(116,199,213);
    font-family: 'Lato', sans-serif;
    text-align: right;
    position: relative;
    transform: translate(-6%, -196%);
}

/**NAV**/
nav {
    position: fixed;
    width: 100vw;

    background: transparent;
    z-index: 1;
    line-height: 3;
    font-weight: 500;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0px;
    padding: 1%;
    padding-right: 12%;
}

nav li {
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}
.nav ul li a:hover {
    color: white;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    background-color: #73c7d5;
}
a:visited {
    color: #ffffff;
    text-decoration: line-through;
}
ul.topnav li.icon {display: none;}
.logo {
    float: left;
}
.test{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    background-color: #73c7d5;
}
.logo{
    float: left;
    font-size: 50px;
    line-height: 60px;
    color: rgb(255,255,255);
    font-family: 'Damion', cursive;
    text-align: center;
    margin-left: 10%;
}

/**DOT LINK**/
.mouse {
    display: inline-block;
    border: 0px solid #fff;
    width: 20%;
    height: 10%;
    border-radius: 13px;
    background: transparent;
    position: absolute;
    margin-left: -13px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}
.mouse .dot1 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    margin-left: 20%;
    margin-top: 8px;
    -webkit-animation: flash1 0.5s infinite;
    animation: flash1 0.5s infinite;
}
.mouse .dot2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #73c7d5;
    position: absolute;
    margin: auto;
    margin-left: 40%;
    margin-top: 8px;
    -webkit-animation: flash1 0.5s infinite;
    animation: flash1 0.5s infinite;

}
.mouse .dot3 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    margin-left: 60%;
    margin-top: 8px;
    -webkit-animation: flash1 0.5s infinite;
    animation: flash1 0.5s infinite;
}